
@font-face {
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
        font-family: GilroyExtrabold;
        src: url('../fonts/Gilroy-Extrabold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: GilroyLight;
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GilroyMedium;
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GilroyRegular;
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    background: #e2e0e0;
}
.wrapper{
    width: 100%;
    height: auto;
}
.page{
    width: 100%;
    height: auto; 
}
.header{
    width: 100%;
    height: auto;
}
/*--------------------Hader_top----------------------*/
.header_top{
    background: #828282;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
}
.header_top_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 90px;
    width: 251px;
    height: 100%;
}
a{
    font-family: GilroyLight;
    font-size: 13px;
    text-decoration: none;
    color:#fff;
    transition: 0.25s;
}
a:hover{
    color: #ff3366;
    text-shadow: 0 0px 7px #fff;
}  
.truck_svg{
    width: 20px;
    margin-left: 5px;
}
.exit_svg{
    width: 12px;
    margin-right: 10px;
}
.header_top_link_card a{
    display: flex;
}
.header_top_link_exit a{
    display: flex;
}
.header_top_link_help,
.header_top_link_card{
    padding: 0 15px;
    cursor: pointer;
}
.header_top_link_exit{
    padding: 0 15px;
    background: #4f4f4f;
    cursor: pointer;
}
/*--------------------Header_bottom-----------------*/
.header_bottom{
    width: 100%;
    height: auto;
}
.header_bottom_inner{
    height: 100px;
    margin: 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    position: relative;
    width: auto;
    height: 53px;
    display: flex;
    align-items: center;
}
ul li p{
    margin-top: 0;
    margin-bottom: 0;
}
span p{
    font-family: GilroyBold;
    font-size: 19px;
    color: #4f4f4f;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

ul li a{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrows{
    width: 18px;
    padding-top: 3px;
}
/*----------------Выпадающее Меню----------------*/
ul.list_manu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 260px;
    background: #828282;
    display: none;
}
ul ul li a{
    border-bottom: 1px solid #757575;   
}
ul li:hover > ul{
   display: block;
}
ul li:hover{
    background: #828282;
}
ul li a:hover > span p{
    color: #ff3366;
    text-shadow: 0 0 15px #fff;
}

ul li.link_SSL:hover{
    background: #e2e0e0;
}

